CONFIG_RISCV32=y
CONFIG_SOC_SERIES_RISCV32_VEXRISCV=y
CONFIG_SOC_VEXRISCV_CPP_REGRESSION=y
CONFIG_BOARD_VEXRISCV_CPP_REGRESSION=y
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_VEXRISCV_CPP_REGRESSION=y
CONFIG_UART_CONSOLE=y
CONFIG_PLIC=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_GPIO=n
CONFIG_BOOT_BANNER=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=12000000
