#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig GPIO_SPINALHDL
	bool "SPINALHDL SoC GPIO driver"
	depends on GPIO && SOC_RISCV32_SPINALHDL
	default n
	help
	  Enable driver for the SPINALHDL SoC GPIO controller.

	  Says n if not sure.

if GPIO_SPINALHDL

config GPIO_SPINALHDL_GPIO_NAME
	string "GPIO driver name"
	default "gpio0"

endif # GPIO_SPINALHDL