/dts-v1/;

#include <riscv64-k210.dtsi>

/ {
	model = "Kendryte Kendryte EVB";
	compatible = "kendryte,kendryte_evb";
	chosen {
		zephyr,console = &uart3;
	};
};

&dma {
	status = "ok";
};

&gpio {
	status = "ok";
};

&spi0 {
	status = "ok";
};

&spi1 {
	status = "ok";
};

&uart1 {
	current-speed = <115200>;
	clock-frequency = <16000000>;
};

&uart2 {
	current-speed = <115200>;
	clock-frequency = <16000000>;
};

&uart3 {
	status = "ok";
	current-speed = <115200>;
	clock-frequency = <16000000>;
};

&wdt0 {
	status = "ok";
};

&wdt1 {
	status = "ok";
};

