if SOC_VEXRISCV_CPP_REGRESSION

config SOC
	string
	default "vexriscv_cpp_regression"

config RISCV_ARCH
	string
	default "rv32i"

config RISCV_ABI
	string
	default "ilp32"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 1000000

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 42

config XIP
	bool
	default n

config RISCV_ROM_BASE_ADDR
	hex
	default 0x90000000

config RISCV_ROM_SIZE
	hex
	default 0x10

config RISCV_RAM_BASE_ADDR
	hex
	default	0x80000000

config RISCV_RAM_SIZE
	hex
	default 0x40000


config RISCV_MTIME_BASE
	hex
	default 0xF00FFF40

config RISCV_MTIMECMP_BASE
	hex
	default 0xF00FFF48

config BUILD_OUTPUT_HEX
        default y

endif
