if SOC_SERIES_RISCV32_VEXRISCV

config SOC_SERIES
	string
	default "vexriscv"

rsource "Kconfig.defconfig.vexriscv_incus_soc"
rsource "Kconfig.defconfig.vexriscv_saxon_soc"
rsource "Kconfig.defconfig.vexriscv_cpp_regression"

endif # SOC_SERIES_RISCV32_VEXRISCV

