if SOC_SERIES_RISCV32_VEXRISCV

config SOC_SERIES
	string
	default "vexriscv"

source "soc/riscv32/riscv-privilege/vexriscv/Kconfig.defconfig.vexriscv_saxon_soc"

endif # SOC_SERIES_RISCV32_VEXRISCV

