#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_KENDRYTE
	bool "Kendryte serial driver"
	depends on SOC_RISCV64_K210
	select SERIAL_HAS_DRIVER
	help
	  This option enables the Kendryte serial driver.

# ---------- Port 0 ----------

menuconfig UART_KENDRYTE_PORT_0
	bool "Enable KENDRYTE Port 0"
	depends on UART_KENDRYTE
	help
	  This tells the driver to configure the UART port at boot, depending on
	  the additional configure options below.
