# Kconfig.gotham - SPINALHDL SoC UART configuration option
#
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_SPINALHDL
        bool "SPINALHDL SoC serial driver"
        depends on SOC_RISCV32_SPINALHDL
        default n
        select SERIAL_HAS_DRIVER
        help
          This option enables the SPINALHDL SoC serial driver.

